<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <title>Quiz</title>
</head>
<body>
    <h2>Answer the following questions:</h2>
    <form action="/submit" method="POST">
        <% questions.forEach((question, index) => { %>
            <h3><%= question.question %></h3>
            <% question.options.forEach((option, i) => { %>
                <input type="radio" name="answers[<%= index %>]" value="<%= option %>" required> <%= option %><br>
            <% }) %>
        <% }) %>
    
        <!-- Hidden input to pass user name -->
        <input type="hidden" name="name" value="<%= name %>">
        
        <button type="submit">Submit Quiz</button>
    </form>
    
</body>
</html>
